# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/
/build/

# Eclipse
.cproject
.project
CMakeLists.txt.user
*.kdev4
/venv/
/**/*.bak
/.settings/language.settings.xml
/src/test/echo/Echo.hpp
/cmake-build-debug/_deps/**/*
/cmake-build-debug/_deps/sml-src/sml.hpp
