#ngStribohHello {
    float left;
    border-width: 4px;
    border-color: black;
}

h1,h2,h3 {
    text-align: center;
}

input {
    margin-left: 8px;
    margin-right: 16px;
}

button {
  width: 12em;
}

#idSrvReturn {
    float right;
    border-width: 4px;
    border-color: red;
}

#idShutdownServerBtnParagraph {
    text-align: center;
}

#idAddDiv {
    margin: 8px;
    text-align: center;
}

#idAddOpPar,#idShutdownOpPar,#idEchoOpPar {
    border: 8px;
    border-color: black;
    border-width: 8px;
    border-style: solid;
    background-color: lightgray;
    padding: 1em;
    margin: 1em;
}
